.contentPost {
  h2 {
    font-size: 2.25rem;
    color: var(--heading);
    margin: 3rem 0;
  }

  p,
  span,
  a,
  ul {
    font-size: 1.125rem;
    line-height: 1.8;
    margin: 1.8rem 0;
  }

  a {
    color: var(--highlight);
    transition: all 300ms;
    &:hover {
      filter: brightness(1.2);
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 700;
    color: var(--body);
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }

  img {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: unset !important;
    aspect-ratio: 16 / 9;
  }
}
